# Core Verification

Deprecated, please see [light-client/verification](https://github.com/KYVENetwork/tendermint/blob/v0.34.x/spec/light-client/verification).
